:root {
	--custom-primary: #8b0000; /* Definizione del colore personalizzato */
	--custom-secondary: #00008b; /* Definizione del colore personalizzato */
	--custom-third: #006400; /* Definizione del colore personalizzato */
	--custom-fourth: #4b0082; /* Definizione del colore personalizzato */
	--custom-fifth: #ff4500; /* Definizione del colore personalizzato */
	--custom-sixth: #008b8b; /* Definizione del colore personalizzato */
	--custom-seventh: #060606; /* Definizione del colore personalizzato */
	--custom-eighth: #898989; /* Definizione del colore personalizzato */
	--custom-nineth: #ffffff; /* Definizione del colore personalizzato */
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.colors {
	width: 28px;
	height: 28px;
	margin: 0 4px;
}

#color-selection .colors {
	cursor: pointer;
}

.legend-colors {
	min-width: 14px;
	min-height: 14px;
	margin: 0 4px;
}

.input-attempt {
	padding: 4px 8px;
	text-align: right;
	width: 75px;
}

.chronology {
	background-color: #fff;
	box-shadow: 4px 0 20px -10px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	left: -100%;
	min-height: 100vh;
	padding: 24px;
	position: absolute;
	top: 0;
	transition: all 0.25s ease-in-out;
	z-index: 2;
	width: 85vw;
}

@media screen and (min-width: 1024px) {
	.chronology {
		width: 50vw;
	}
}

.chronology.show {
	left: 0;
}

.attempts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

.attempts-list {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  row-gap: 16px;
}

.attempt-item {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.attempt-failed-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.attempt-failed {
  display: flex;
  column-gap: 4px;
	margin-bottom: 16px;
}

.attempt-failed-item {
  border-radius: 50%;
}

.attempt-suggestion {
	display: flex;
	flex-wrap: wrap;
	width: 30px;
}

.attempt-suggestion-item {
	border-radius: 50%;
	height: 15px;
	width: 15px;
}

.sixtyfour {
	font-family: "Sixtyfour", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "BLED" 0, "SCAN" 0;
}

.instruction {
	font-size: x-large;
}

.border {
	border: 1px solid #000;
}

.verde {
	background-color: #006400;
}

.rosso {
	background-color: red;
}

.giallo{
	background-color: yellow;
}
